/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 2

   Spice Bowl Payment Form Validation Style Sheet
   Author: Mackenzie Baker
   Date:   1.16.2019

   Filename: sb_validate.css

*/


/* Validation Styles */
/* Sets area of text that are selected with no information to be a orange color. */
input:focus:not([radio]), section:focus:not([radio]), textarea:focus:not([radio]) {
   background: rgb(255, 218, 165);
}

/* Sets area of text that are filled with correct information to be a green color. */
input:focus:not([radio]):valid, section:focus:not([radio]):valid, textarea:focus:not([radio]):valid {
   background: rgb(215, 255, 215) url(sb_valid.png) bottom right/contain no-repeat;
}

/* Sets area of text that are filled with incorrect information to be a green color. */
input:focus:not([radio]):invalid, section:focus:not([radio]):invalid, textarea:focus:not([radio]):invalid {
   background: rgb(252, 221, 207) url(sb_invalid.png) bottom right/contain no-repeat;
}
